*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

@font-face{
        font-family: "Cera Pro";
        src: url("./fonts/CeraPro-Light.eot") format("embedded-opentype"),
             url("./fonts/CeraPro-Light.woff2") format("woff2"),
             url("./fonts/CeraPro-Light.woff") format("woff"),
             url("./fonts/CeraPro-Light.ttf") format("truetype");
             font-weight: 400;
}
:lang(fr) {
    font-family: "Cera Pro";
    font-weight: 400;
}
@font-face{
        font-family: "Cera Pro";
        src: url("./fonts/CeraPro-Medium.eot") format("embedded-opentype"),
             url("./fonts/CeraPro-Medium.woff2") format("woff2"),
             url("./fonts/CeraPro-Medium.woff") format("woff"),
             url("./fonts/CeraPro-Medium.ttf") format("truetype");
             font-weight: 700;
 }
:lang(en) {
    font-family: "Cera Pro";
    font-weight: 700 ;
}
:lang(ml) {
    font-family: "Cera Pro";
    font-weight: 400;
}
:lang(ko) {
    font-family: "Cera Pro";
    font-weight: 700;
}
.main{
    display: flex;
    padding: 171px 105px  135px;
}
:lang(ko) {
    font-family: "Cera Pro";
    font-weight: 700;
}
.menu {
    display: flex;
    white-space: nowrap;
    padding-left: 50px;
    width: 838px;
    height: 23px;
}
.menu-list {
   display: flex;
   gap: 38px;
}
.menu-item {
    color: #3D3D3D;
}
.menu-green {
    color: green;
    border-bottom: 3px solid green;
}
.by, .sorting {
    position: relative;
    left: 385px;
    color: #3D3D3D;
}
.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 41px ;
   position: relative;
   right: 33%;
   padding-top: 31px;
   flex-wrap: wrap;
   align-items: flex-end;
}
.footer-item-image {
    background-color: #FBFBFB;
}
.footer-item-title {
    color: #3D3D3D;
}
.footer-preis {
    color: #46A358;
}
img{
    background-color: #FBFBFB;
}
.footer-item-active:hover {
    border-top:1px solid green;
}
.product-image {
    width: 100%;
    display: block;
}
.product-card{
    position: relative;
    width: 250px;
    text-align: center;
}
.icon-overlay{
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 18px;
    opacity: 0;
}
.icon:hover{
    background-color: white;
    padding: 7px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card:hover .icon-overlay{
    opacity: 1;
}
.offer{
    position: absolute;
    top: 14px;
    left: 0;
    color: #FFFFFF;
    background-color: #46A358;
    padding: 7px 9px;

}
.preis-container {
    display: flex;
    gap: 16px;
}
.offer-container {
    position: relative;
    display: inline-block;
}
.old-preis{
    color: #A5A5A5;
    text-decoration: line-through;
}
